@import '../../../styles/settings.scss';

.component {
  padding: $base-size 0;
}

.data_grid {
  font-size: 20px;
}

.order {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.orderItem {
  margin: 0;
  white-space: normal;
}
